<!DOCTYPE html>
<html>
    <head>
        <title>DOGS Page</title>
    </head>
    <body>
        <h1>Doggo Page</h1>
        <p>This is the doggo page: here's some information about doggos!</p>
    </body>
</html> 